$blue: #0088ff;
$matte-white: #dcdcdc;
$black: #1f2024;
$white: white;
$red: #fa3d3d;
$gray-white: #808080;
$gray-black: rgba(0, 0, 0, 0.3);
$search-white: #adadad;
$bold-gray-black: #3b3b3b;

$zindex-sidenav: 1035;
$zindex-toast: 1060;

header {
  font-family: "Segoe UI";

  .new-row {
    .wrapper {
      @media (min-width: 1200px) {
        .wrapper {
          max-width: 1200px;
        }
      }
      @media (min-width: 768px) {
        .wrapper {
          width: 100%;
        }
      }

      .right-side {
        .arrow-breaking-new {
          li:hover {
            color: $white;
            background-color: $red;
          }
        }

        .format-a {
          a:hover {
            color: $blue;
          }
          .nav-input:checked ~ .nav-overlay {
            display: block;
          }
          .nav-input:checked ~ .content-overlay {
            transform: translateX(0%);
          }
          .nav-overlay {
            background-color: $gray-black;
            display: none;
          }
          .content-overlay {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 345px;
            max-width: 100%;
            height: 100%;
            background-color: $black;
            z-index: $zindex-toast;
            transform: translateX(100%);
            transition: transform linear 0.3s;
            i {
              color: $white;
            }
            i:hover {
              color: $red;
            }
          }
        }
      }
      @media (max-width: 991px) {
        .left-side {
          p:nth-child(2), i {
            display: none;
          }
        }
        .right-side {
          .justify-content-end {
            .format-a {
              * {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .new-row {
      display: none;
    }
  }

  .reverse-flex {
    flex-direction: column;
  }

  .logo-row {
    .wrapper {
      @media (min-width: 1200px) {
        .wrapper {
          width: 1200px;
        }
      }
      @media (min-width: 768px) {
        .wrapper {
          width: 100%;
        }
      }

      .advertise {
        width: 62.2222%;
      }
    }
  }
  @media (max-width: 991px) {
    .logo-row {
      .wrapper {
        .logo {
          .logo-link {
            display: none;

            img {
              width: 0;
              margin: 0;
            }
          }
        }
        .advertise {
          width: 100%;
        }
      }
    }
  }
  .navbar {
    z-index: $zindex-sidenav;
    .container-fluid {
      div > .input-group-text {
        display: none;
      }
      > .logo {
        display: none;

        img {
          display: none;
        }
      }
      > .text-reset {
        display: none;
      }
      .navbar-collapse {
        height: 60px;
      }
      .navbar-collapse {
        background-color: $black;
        .navbar-nav {
          .nav-item {
          }
        }
      }
      .sun-moon-icon {
        margin-top: 0;
        .text-reset {
          display: block;
          i {
            color: white;
          }
          i:hover {
            color: $blue;
          }
        }
      }
      .input-group-text {
        i:hover {
          color: $blue;
        }
      }
    }
  }
  .sidenav {
    overflow: visible;
  }
  @media (max-width: 991px) {
    .reverse-flex {
      flex-direction: column-reverse;
    }
    .navbar {
      .container-fluid {
        min-height: 59px;
        .navbar-toggler {
          padding: 0;
        }
        div > .input-group-text {
          display: inline-block;
          cursor: pointer;
        }

        .logo {
          display: block;
          height: 100%;
          img {
            display: inline-block;
            width: auto;
          }
        }
        > .text-reset {
          display: inline-block;
          font-size: 20px;
          i {
            color: $black;
          }
          i:hover {
            color: $blue;
          }
        }
        .sun-moon-icon {
          margin-top: 230px;
        }
      }
    }
  }
}
.nav-item {
  background-color: #1f2024;
}
.nav-item:hover {
  background-color: $blue;
}

.dropdown-menu {
  margin-top: 176px;
  border-radius: 0;
  .seperate-line {
    height: 2px;
    background-color: $blue;
  }
}
@media (max-width: 991px) {
  .dropdown-menu {
    margin-top: 150px;
  }
}
@media (max-width: 991px) {
  .navbar-nav .dropdown:nth-child(9) .dropdown-menu {
    margin-top: 130px;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    color: $white;
    background-color: $black;
  }
}
.dropdown:hover {
  .dropdown-content {
    display: block;
    .dropdown-item {
      background-color: $black;
      border-radius: 0;
      color: $white;
    }
    a:hover {
      background-color: $blue;
    }
  }
}
//start moon and sun
.element {
  svg {
    width: 40px;
    height: 27px;
    margin-right: 12px;
    margin-bottom: 8px;
  }
}
.white {
  fill: $white;
}
.gray {
  fill: #E0E0E0
}
.yellow {
  fill: #FFEB3B
}
//end moon and sun

