header {
  font-family: "Segoe UI";
}
@media (min-width: 1200px) {
  header .new-row .wrapper .wrapper {
    max-width: 1200px;
  }
}
@media (min-width: 768px) {
  header .new-row .wrapper .wrapper {
    width: 100%;
  }
}
header .new-row .wrapper .right-side .arrow-breaking-new li:hover {
  color: white;
  background-color: #fa3d3d;
}
header .new-row .wrapper .right-side .format-a a:hover {
  color: #0088ff;
}
header .new-row .wrapper .right-side .format-a .nav-input:checked ~ .nav-overlay {
  display: block;
}
header .new-row .wrapper .right-side .format-a .nav-input:checked ~ .content-overlay {
  transform: translateX(0%);
}
header .new-row .wrapper .right-side .format-a .nav-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
header .new-row .wrapper .right-side .format-a .content-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 345px;
  max-width: 100%;
  height: 100%;
  background-color: #1f2024;
  z-index: 1060;
  transform: translateX(100%);
  transition: transform linear 0.3s;
}
header .new-row .wrapper .right-side .format-a .content-overlay i {
  color: white;
}
header .new-row .wrapper .right-side .format-a .content-overlay i:hover {
  color: #fa3d3d;
}
@media (max-width: 991px) {
  header .new-row .wrapper .left-side p:nth-child(2), header .new-row .wrapper .left-side i {
    display: none;
  }
  header .new-row .wrapper .right-side .justify-content-end .format-a * {
    display: none;
  }
}
@media (max-width: 768px) {
  header .new-row {
    display: none;
  }
}
header .reverse-flex {
  flex-direction: column;
}
@media (min-width: 1200px) {
  header .logo-row .wrapper .wrapper {
    width: 1200px;
  }
}
@media (min-width: 768px) {
  header .logo-row .wrapper .wrapper {
    width: 100%;
  }
}
header .logo-row .wrapper .advertise {
  width: 62.2222%;
}
@media (max-width: 991px) {
  header .logo-row .wrapper .logo .logo-link {
    display: none;
  }
  header .logo-row .wrapper .logo .logo-link img {
    width: 0;
    margin: 0;
  }
  header .logo-row .wrapper .advertise {
    width: 100%;
  }
}
header .navbar {
  z-index: 1035;
}
header .navbar .container-fluid div > .input-group-text {
  display: none;
}
header .navbar .container-fluid > .logo {
  display: none;
}
header .navbar .container-fluid > .logo img {
  display: none;
}
header .navbar .container-fluid > .text-reset {
  display: none;
}
header .navbar .container-fluid .navbar-collapse {
  height: 60px;
}
header .navbar .container-fluid .navbar-collapse {
  background-color: #1f2024;
}
header .navbar .container-fluid .sun-moon-icon {
  margin-top: 0;
}
header .navbar .container-fluid .sun-moon-icon .text-reset {
  display: block;
}
header .navbar .container-fluid .sun-moon-icon .text-reset i {
  color: white;
}
header .navbar .container-fluid .sun-moon-icon .text-reset i:hover {
  color: #0088ff;
}
header .navbar .container-fluid .input-group-text i:hover {
  color: #0088ff;
}
header .sidenav {
  overflow: visible;
}
@media (max-width: 991px) {
  header .reverse-flex {
    flex-direction: column-reverse;
  }
  header .navbar .container-fluid {
    min-height: 59px;
  }
  header .navbar .container-fluid .navbar-toggler {
    padding: 0;
  }
  header .navbar .container-fluid div > .input-group-text {
    display: inline-block;
    cursor: pointer;
  }
  header .navbar .container-fluid .logo {
    display: block;
    height: 100%;
  }
  header .navbar .container-fluid .logo img {
    display: inline-block;
    width: auto;
  }
  header .navbar .container-fluid > .text-reset {
    display: inline-block;
    font-size: 20px;
  }
  header .navbar .container-fluid > .text-reset i {
    color: #1f2024;
  }
  header .navbar .container-fluid > .text-reset i:hover {
    color: #0088ff;
  }
  header .navbar .container-fluid .sun-moon-icon {
    margin-top: 230px;
  }
}

.nav-item {
  background-color: #1f2024;
}

.nav-item:hover {
  background-color: #0088ff;
}

.dropdown-menu {
  border-radius: 0;
  top:100%;
}
.dropdown-menu .seperate-line {
  height: 2px;
  background-color: #0088ff;
}

@media (max-width: 991px) {
  .dropdown-menu {
    margin-top: 150px;
  }
}
@media (max-width: 991px) {
  .navbar-nav .dropdown:nth-child(9) .dropdown-menu {
    margin-top: 130px;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  color: white;
  background-color: #1f2024;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content .dropdown-item {
  background-color: #1f2024;
  border-radius: 0;
  color: white;
}
.dropdown:hover .dropdown-content a:hover {
  background-color: #0088ff;
}

.element svg {
  width: 40px;
  height: 27px;
  margin-right: 12px;
  margin-bottom: 8px;
}

.white {
  fill: white;
}

.gray {
  fill: #E0E0E0;
}

.yellow {
  fill: #FFEB3B;
}

/*# sourceMappingURL=header.component.css.map */
