<!-- Footer -->
<footer class="text-center text-lg-start  text-muted bg-dark">

  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="top">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4 pd-left">
            Most Viewed Posts
          </h6>
          <ul class="list-item">
            <li class="item">
              <a href="">
                <span class="date meta-item tie-icon">Oct 27, 2018</span>
                <h3>After all is said and done, more is done</h3> </a>
            </li>
            <li class="item">
              <a href="">
                <span class="date meta-item tie-icon">Oct 27, 2018</span>
                <h3>Success is not a good teacher failure makes you humble</h3> </a>
            </li>
            <li class="item">
              <a href="">
                <span class="date meta-item tie-icon">Oct 27, 2018</span>
                <h3>Not who has much is rich, but who gives much</h3> </a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Last Modified Posts
          </h6>
          <!-- Modal gallery -->
          <section class="">
            <!-- Section: Images -->
            <section class="">
              <div class="row">
                <div class="p-1 col-lg-4 col-md-12 p-0 mb-lg-0">
                  <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                  >
                    <img
                      src="https://mdbcdn.b-cdn.net/img/screens/yt/screen-video-1.webp"
                      class="w-100"
                    />
                    <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>

                <div class="p-1 col-lg-4 mb-4 p-0 mb-lg-0">
                  <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                  >
                    <img
                      src="https://mdbcdn.b-cdn.net/img/screens/yt/screen-video-2.webp"
                      class="w-100"
                    />
                    <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>

                <div class="p-1 col-lg-4 mb-4 p-0 mb-lg-0">
                  <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                  >
                    <img
                      src="https://mdbcdn.b-cdn.net/img/screens/yt/screen-video-3.webp"
                      class="w-100"
                    />
                    <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>
                <div class="p-1 col-lg-4 mb-4 p-0 mb-lg-0">
                  <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                  >
                    <img
                      src="https://mdbcdn.b-cdn.net/img/screens/yt/screen-video-3.webp"
                      class="w-100"
                    />
                    <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>
                <div class="p-1 col-lg-4 mb-4 p-0 mb-lg-0">
                  <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                  >
                    <img
                      src="https://mdbcdn.b-cdn.net/img/screens/yt/screen-video-3.webp"
                      class="w-100"
                    />
                    <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>
                <div class="p-1 col-lg-4 mb-4 p-0 mb-lg-0">
                  <div
                    class="bg-image hover-overlay ripple shadow-1-strong rounded"
                    data-ripple-color="light"
                  >
                    <img
                      src="https://mdbcdn.b-cdn.net/img/screens/yt/screen-video-3.webp"
                      class="w-100"
                    />
                    <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>

              </div>
            </section>
            <!-- Section: Images -->

            <!-- Section: Modals -->
            <section class="">
              <!-- Modal 1 -->
              <div
                class="modal fade"
                id="exampleModal1"
                tabindex="-1"
                aria-labelledby="exampleModal1Label"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="ratio ratio-16x9">
                      <iframe
                        src="https://www.youtube.com/embed/A3PDXmYoF5U"
                        title="YouTube video"
                        allowfullscreen
                      ></iframe>
                    </div>

                    <div class="text-center py-3">
                      <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal 2 -->
              <div
                class="modal fade"
                id="exampleModal2"
                tabindex="-1"
                aria-labelledby="exampleModal2Label"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="ratio ratio-16x9">
                      <iframe
                        src="https://www.youtube.com/embed/wTcNtgA6gHs"
                        title="YouTube video"
                        allowfullscreen
                      ></iframe>
                    </div>

                    <div class="text-center py-3">
                      <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal 3 -->
              <div
                class="modal fade"
                id="exampleModal3"
                tabindex="-1"
                aria-labelledby="exampleModal3Label"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="ratio ratio-16x9">
                      <iframe
                        src="https://www.youtube.com/embed/vlDzYIIOYmM"
                        title="YouTube video"
                        allowfullscreen
                      ></iframe>
                    </div>

                    <div class="text-center py-3">
                      <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- Section: Modals -->
          </section>
          <!-- Modal gallery -->


        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Tags
          </h6>
          <button type="button" class="btn btn-outline-light-1">
            App
          </button>
          <button type="button" class="btn btn-outline-light-1">
            Apple
          </button>
          <button type="button" class="btn btn-outline-light-1">
            Facebook
          </button>
          <button type="button" class="btn btn-outline-light-1">
            Featured
          </button>
          <button type="button" class="btn btn-outline-light-1">
            Food
          </button>
          <button type="button" class="btn btn-outline-light-1">
            Footbool
          </button>
          <button type="button" class="btn btn-outline-light-1">
            Instagram
          </button>
          <button type="button" class="btn btn-outline-light-1">
            Life style
          </button>
          <button type="button" class="btn btn-outline-light-1">
            Olympics
          </button>
          <button type="button" class="btn btn-outline-light-1">
            rio 2006
          </button>
          <button type="button" class="btn btn-outline-light-1">
            Tech
          </button>
          <button type="button" class="btn btn-outline-light-1">
            Timelife
          </button>
          <button type="button" class="btn btn-outline-light-1">
            Twitter Video
          </button>
          <button type="button" class="btn btn-outline-light-1">
            ui
          </button>
          <button type="button" class="btn btn-outline-light-1">
            ux
          </button>
          <button type="button" class="btn btn-outline-light-1">
            Video
          </button>
          <button type="button" class="btn btn-outline-light-1">
            vimeo
          </button>
          <button type="button" class="btn btn-outline-light-1">
            Yahoo
          </button>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Follow us
          </h6>
          <p class="p-size">
            <i class="fab fa-twitter"></i> Coming Soon, Stay Tuned
            <a href="">#janah</a>
            <a href="">#big_update</a>
            <a href="">https://t.co/IQsH1hLnMr</a>
          </p>
          <span class="date-meta">
              <a href=""> 2020/12/12</a>
          </span>
          <p class="p-size">
            <i class="fab fa-twitter"></i>
            Our new plugin WPCOVID-19 helps WordPress sites’ owners to display Coronavirus real-time data easily on their sites…
          </p>
          <span class="date-meta">
              <a href=""> 2020/12/12</a>
          </span>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="w-100" src="https://jannah.tielabs.com/jannah/wp-content/uploads/sites/8/2016/10/logo-lite@2x.png" alt="">
      </div>
      <div class="col-md-4">
        Jannah is a Clean Responsive WordPress Newspaper, Magazine, News and Blog theme. Packed with options that allow you to completely customize your website to your needs.
      </div>
      <div class="col-md-4">
        <mdb-form-control>
          <input mdbInput type="text" id="form1" style=" color: rgba(255,255,255,1)" class="form-control" />
          <label mdbLabel class="form-label" style=" color: rgba(255,255,255,1)" for="form1"> Email Address</label>
        </mdb-form-control>
        <button mdbRipple type="submit" class="btn btn-primary mb-4">
          Subscribe
        </button>
      </div>
    </div>
  </div>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="row">
    <div class="text-center p-2  col-md-6">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f pe-4 facss"></i
        ></a>

        <!-- Twitter -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter pe-4 facss"></i
        ></a>

        <!-- Google -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google pe-4 facss"></i
        ></a>

        <!-- Instagram -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram pe-4 facss"></i
        ></a>

        <!-- Linkedin -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in pe-4 facss"></i
        ></a>

        <!-- Github -->
        <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github pe-4 facss"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <div class="text-center p-2 col-md-6 py-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
  </div>

  <!-- Copyright -->
</footer>
<!-- Footer -->
