
.top{
  padding-top: 1px;
}
.mb-4{
  font-size: 15px;
  min-height: 15px;
  color: white;
}
.pd-left{
  padding-left: 30px;
}
.list-item{
  list-style: none;
}
.list-item a{
  color: white;
}
.list-item a .date {
  font-size: 10px;
}
.list-item a h3{
  font-size: 14px;
  line-height: 1.4;
}

.row .col-3{
  width: 32%;
  padding-bottom: 7px;
}
.row .col-3 a img{
  width: 85px;
  height: 48px;
}
/*---tags---*/
.btn{
  font-size: 12px !important;
  margin: 3px;
  padding: 6px 10px;
  display: inline-block;
}
.btn-outline-light-1{
  border-color: rgba(255,255,255,0.5);
  color: white;
}
/*---follow us---*/

.fab{
  color:#0088ff ;
}
.date-meta{
  display: block;
  font-size: 11px;
  text-align: right;
}
.p-size{
  font-size: 13px;
}
.p-size a{
  color: white;
}
////

