
<section class="main container">
  <div class="wrapper row" >
    <div class="col-xs-12  col-md-8 ">
      <div class="d-flex pb-0">
        <div class=".col-6 .col-md-4 p-2">
          <a href="">
            <div class="bg-image hover-zoom">
              <img src="https://photo-cms-tpo.zadn.vn/300x180/Uploaded/2022/bpivpvoi/2022_08_20/showbiz7-6961.jpg" alt="" class="w-140"/>
            </div>

          </a>
        </div>
        <div class=".col-6 .col-md-4 p-2">
          <i class=" pe-1 fa-sm far fa-clock"></i>
          <span class="date meta-item tie-icon">Oct 27, 2018</span>
          <a href=""> <h5>Showbiz 20/8: Sau khi công khai chuyện tình cảm, Doãn Hải My về quê Đoàn Văn Hậu ra mắt?</h5></a>
          <p class="fs-7 ">TPO - Hình ảnh Doãn Hải My chụp ảnh cùng Đoàn Văn Hậu ở một vùng quê khiến nhiều khán giả dự đoán người đẹp về Thái Bình ra mắt nhà bạn trai.</p>
        </div>
      </div>
      <div class="d-flex pb-0">
        <div class=".col-6 .col-md-4 p-2">
          <a href="">
            <div class="bg-image hover-zoom">
              <img src="https://photo-cms-tpo.zadn.vn/300x180/Uploaded/2022/bpivpvoi/2022_08_20/showbiz7-6961.jpg" alt="" class="w-140"/>
            </div>

          </a>
        </div>
        <div class=".col-6 .col-md-4 p-2">
          <i class=" pe-1 fa-sm far fa-clock"></i>
          <span class="date meta-item tie-icon">Oct 27, 2018</span>
          <a href=""> <h5>Showbiz 20/8: Sau khi công khai chuyện tình cảm, Doãn Hải My về quê Đoàn Văn Hậu ra mắt?</h5></a>
          <p class="fs-7 ">TPO - Hình ảnh Doãn Hải My chụp ảnh cùng Đoàn Văn Hậu ở một vùng quê khiến nhiều khán giả dự đoán người đẹp về Thái Bình ra mắt nhà bạn trai.</p>
        </div>
      </div>
      <div class="d-flex pb-0">
        <div class=".col-6 .col-md-4 p-2">
          <a href="">
            <div class="bg-image hover-zoom">
              <img src="https://photo-cms-tpo.zadn.vn/300x180/Uploaded/2022/bpivpvoi/2022_08_20/showbiz7-6961.jpg" alt="" class="w-140"/>
            </div>
          </a>
        </div>
        <div class=".col-6 .col-md-4 p-2">
          <i class=" pe-1 fa-sm far fa-clock"></i>
          <span class="date meta-item tie-icon">Oct 27, 2018</span>
          <a href=""> <h5>Showbiz 20/8: Sau khi công khai chuyện tình cảm, Doãn Hải My về quê Đoàn Văn Hậu ra mắt?</h5></a>
          <p class="fs-7 ">TPO - Hình ảnh Doãn Hải My chụp ảnh cùng Đoàn Văn Hậu ở một vùng quê khiến nhiều khán giả dự đoán người đẹp về Thái Bình ra mắt nhà bạn trai.</p>
        </div>
      </div>
    </div>

<!--    What's new-->
    <div class="Whatnew">
      <h5> What's new</h5>
      <div class="row">
        <div class="col-6 col-sm-4">
          <div class=" p-2">
            <a href="">
              <div class="bg-image hover-zoom">
                <img src="https://photo-cms-tpo.zadn.vn/300x180/Uploaded/2022/bpivpvoi/2022_08_20/showbiz7-6961.jpg" alt="" class="img-fluid"/>
              </div>
            </a>
          </div>
          <div class=" p-2">
            <i class="ps-1 pe-1 fa-sm far fa-clock"></i>
            <span class="ps-1 date meta-item tie-icon">Oct 27, 2018</span>
            <a href=""> <h5 class="ps-1">Showbiz 20/8: Sau khi công khai chuyện tình cảm, Doãn Hải My về quê Đoàn Văn Hậu ra mắt?</h5></a>
            <p class="fs-7 ps-1 ">TPO - Hình ảnh Doãn Hải My chụp ảnh cùng Đoàn Văn Hậu ở một vùng quê khiến nhiều khán giả dự đoán người đẹp về Thái Bình ra mắt nhà bạn trai.</p>
          </div>
        </div>
        <div class="col-6 col-sm-4">
          <div class=" p-2">
            <a href="">
              <div class="bg-image hover-zoom">
                <img src="https://photo-cms-tpo.zadn.vn/300x180/Uploaded/2022/bpivpvoi/2022_08_20/showbiz7-6961.jpg" alt="" class="img-fluid"/>
              </div>
            </a>
          </div>
          <div class=" p-2">
            <i class="ps-1 pe-1 fa-sm far fa-clock"></i>
            <span class="ps-1 date meta-item tie-icon">Oct 27, 2018</span>
            <a href=""> <h5 class="ps-1">Showbiz 20/8: Sau khi công khai chuyện tình cảm, Doãn Hải My về quê Đoàn Văn Hậu ra mắt?</h5></a>
            <p class="fs-7 ps-1 ">TPO - Hình ảnh Doãn Hải My chụp ảnh cùng Đoàn Văn Hậu ở một vùng quê khiến nhiều khán giả dự đoán người đẹp về Thái Bình ra mắt nhà bạn trai.</p>
          </div>
        </div>

        <!-- Force next columns to break to new line at md breakpoint and up -->
        <div class="w-100 d-none d-md-block"></div>

        <div class="col-6 col-sm-4">
          <div class=" p-2">
            <a href="">
              <div class="bg-image hover-zoom">
                <img src="https://photo-cms-tpo.zadn.vn/300x180/Uploaded/2022/bpivpvoi/2022_08_20/showbiz7-6961.jpg" alt="" class="img-fluid"/>
              </div>
            </a>
          </div>
          <div class=" p-2">
            <i class=" ps-1 pe-1 fa-sm far fa-clock"></i>
            <span class="ps-1 date meta-item tie-icon">Oct 27, 2018</span>
            <a href=""> <h5 class="ps-1">Showbiz 20/8: Sau khi công khai chuyện tình cảm, Doãn Hải My về quê Đoàn Văn Hậu ra mắt?</h5></a>
            <p class="fs-7 ps-1">TPO - Hình ảnh Doãn Hải My chụp ảnh cùng Đoàn Văn Hậu ở một vùng quê khiến nhiều khán giả dự đoán người đẹp về Thái Bình ra mắt nhà bạn trai.</p>
          </div>
        </div>
        <div class="col-6 col-sm-4">
          <div class=" p-2">
            <a href="">
              <div class="bg-image hover-zoom">
                <img src="https://photo-cms-tpo.zadn.vn/300x180/Uploaded/2022/bpivpvoi/2022_08_20/showbiz7-6961.jpg" alt="" class="img-fluid"/>
              </div>
            </a>
          </div>
          <div class=" p-2">
            <i class="ps-1 pe-1 fa-sm far fa-clock"></i>
            <span class=" ps-1 date meta-item tie-icon">Oct 27, 2018</span>
            <a href=""> <h5 class="ps-1">Showbiz 20/8: Sau khi công khai chuyện tình cảm, Doãn Hải My về quê Đoàn Văn Hậu ra mắt?</h5></a>
            <p class="fs-7 ps-1 ">TPO - Hình ảnh Doãn Hải My chụp ảnh cùng Đoàn Văn Hậu ở một vùng quê khiến nhiều khán giả dự đoán người đẹp về Thái Bình ra mắt nhà bạn trai.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4"> </div>

  </div>
</section>
