<section class="main container">
  <div class="wrapper row">
    <div class="col-xs-12 col-md-8">
      <section id="category" class="py-4">
        <div>
          <h2>{{ title }}</h2>
        </div>
        <ul *ngIf="arrItem !== undefined">
          <li
            class="my-2"
            *ngFor="
              let item of arrItem.slice(0, sizeShow);
              index as i;
              first as isFirst
            "
          >
            <div
              class="item-category d-flex position-relative flex-column flex-sm-row"
            >
              <img
                src="{{ item.image }}"
                class="flex-shrink-0 me-3 bg-image hover-zoom"
                style="
                  max-width: 15.875rem;
                  object-fit: cover;
                  object-position: center;
                "
                alt="..."
              />
              <div>
                <span class="post-date small">{{ item.updated }}</span>
                <h5 class="mt-0">{{ item.title }}</h5>
                <p class="small">
                  {{ item.description | parseHtml | async }}
                </p>
                <a
                  routerLink="/posts/{{ item.link[0] | getLastUrl }}"
                  class="stretched-link"
                ></a>
              </div>
            </div>
          </li>
        </ul>

        <div class="d-flex my-5 justify-content-center">
          <button
            type="button"
            class="btn btn-primary text-center"
            (click)="showMore()"
          >
            Xem thêm
          </button>
        </div>
      </section>
    </div>
    <div class="col-xs-12 col-md-4 py-4">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</section>
