<section class="carousel-area container" id="carousel">
  <mdb-carousel [controls]="true" [indicators]="true">
    <mdb-carousel-item class="carousel-item">
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(35).webp"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-date">
          <i class="fab fa-hotjar"></i>
          <span>25/12/2022</span>
        </div>
        <h2 class="carousel-title"> Sổ hộ khẩu nào sẽ bị công an thu hồi? </h2>
        <div class="carousel-desc">TPO - Không phải tất cả các hộ khẩu của người dân TPHCM khi tham gia giao dịch đều bị công an thu hồi. Việc thu hồi chỉ được thực hiện với sổ hộ khẩu có thông tin thay đổi.</div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(35).webp"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-date">
          <i class="fab fa-hotjar"></i>
          <span>25/12/2022</span>
        </div>
        <h5> Sổ hộ khẩu nào sẽ bị công an thu hồi? </h5>
        <p>TPO - Không phải tất cả các hộ khẩu của người dân TPHCM khi tham gia giao dịch đều bị công an thu hồi. Việc thu hồi chỉ được thực hiện với sổ hộ khẩu có thông tin thay đổi.</p>
      </div>
    </mdb-carousel-item>

  </mdb-carousel>
</section>

