<section class="carousel-area container py-4" id="carousel">
  <mdb-carousel [controls]="true" [indicators]="true">
    <mdb-carousel-item class="carousel-item">
      <img
        src="https://photo-cms-tpo.zadn.vn/700x420/Uploaded/2022/yrfjpyszlyr/2022_08_12/tp-mua-4-166.jpg"
        class="d-block w-100"
        alt="..."
      />
      <span class="post-cat-wrap">
        <a class="post-cat" href="#">Xã hội</a>
      </span>
      <a href="#!">
        <div class="mask" style="background:linear-gradient(to bottom, transparent, rgba(0,0,0,0.75));"></div>
      </a>
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-date">
          <i class="fab fa-hotjar"></i>
          <span>25/12/2022</span>
        </div>
        <h2 class="carousel-title"> Sổ hộ khẩu nào sẽ bị công an thu hồi? </h2>
        <div class="carousel-desc small">TPO - Không phải tất cả các hộ khẩu của người dân TPHCM khi tham gia giao dịch
          đều bị công an thu hồi. Việc thu hồi chỉ được thực hiện với sổ hộ khẩu có thông tin thay đổi.
        </div>
      </div>

    </mdb-carousel-item>
    <mdb-carousel-item class="carousel-item">
      <img
        src="https://photo-cms-tpo.zadn.vn/700x420/Uploaded/2022/yrfjpyszlyr/2022_08_12/tp-mua-4-166.jpg"
        class="d-block w-100"
        alt="..."
      />
      <a href="#!">
        <div class="mask" style="background:linear-gradient(to bottom, transparent, rgba(0,0,0,0.75));"></div>
      </a>
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-date">
          <i class="fab fa-hotjar"></i>
          <span>25/12/2022</span>
        </div>
        <h2 class="carousel-title"> Sổ hộ khẩu nào sẽ bị công an thu hồi? </h2>
        <div class="carousel-desc small">TPO - Không phải tất cả các hộ khẩu của người dân TPHCM khi tham gia giao dịch
          đều bị công an thu hồi. Việc thu hồi chỉ được thực hiện với sổ hộ khẩu có thông tin thay đổi.
        </div>
      </div>

    </mdb-carousel-item>

  </mdb-carousel>
</section>
<section class="main container">
  <div class="wrapper row">
    <div class="col-xs-12 col-md-8">
      <mdb-tabs>
        <mdb-tab>
          <ng-template mdbTabTitle>
            <span><i class="fab fa-lg fa-mdb me-2"></i> Tab 1</span>
          </ng-template>
          <ng-template mdbTabContent>
            <div class="box-container">
              <ul class="post-items ">
                <li class="post-item">

                  <div class="bg-image position-relative"
                       style="
                        background-image: url('https://photo-cms-tpo.zadn.vn/700x420/Uploaded/2022/yrfjpyszlyr/2022_08_12/tp-mua-4-166.jpg');
                        height: 100%;
                      "
                  >
                    <a href="#!">
                      <div class="mask"
                           style="background:linear-gradient(to bottom, transparent, rgba(0,0,0,0.75));"></div>
                    </a>
                    <div class="carousel-caption d-none d-md-block text-start">
                      <h3 class="carousel-title"> Sổ hộ khẩu nào sẽ bị công an thu hồi? </h3>
                      <div class="carousel-date small">
                        <i class="fab fa-hotjar"></i>
                        <span>25/12/2022</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </ng-template>
        </mdb-tab>
        <mdb-tab title="Kinh tế">
          <ng-template mdbTabContent>
            <div class="box-container">
              <ul class="post-items ">
                <li class="post-item">

                  <div class="bg-image position-relative"
                       style="
                        background-image: url('https://photo-cms-tpo.zadn.vn/700x420/Uploaded/2022/yrfjpyszlyr/2022_08_12/tp-mua-4-166.jpg');
                        height: 100%;
                      "
                  >

                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </ng-template>

        </mdb-tab>
        <mdb-tab title="Tab 3">
          <ng-template mdbTabContent> Tab content 1</ng-template>
        </mdb-tab>
      </mdb-tabs>
    </div>
    <div class="social-widget-wrapper col-xs-12 col-md-4">
      <div class="py-3">
        <div class="widget-title">
          Theo dõi chúng tôi
        </div>
        <div class="row g-2">
          <div class="social-widget col-xs-12 col-md-6">
            <a class="btn btn-primary w-100" style="background-color: #55acee;" href="#!" role="button"
            ><i class="fab fa-twitter me-2"></i>Twitter</a
            >
          </div>
          <div class="social-widget col-xs-12 col-md-6">
            <a class="btn btn-primary w-100" style="background-color: #3b5998;" href="#!" role="button"
            ><i class="fab fa-facebook-f me-2"></i
            >Facebook</a>
          </div>
          <!-- Twitter -->
          <div class="social-widget col-xs-12 col-md-6">
            <a class="btn btn-primary w-100" style="background-color: #55acee;" href="#!" role="button"
            ><i class="fab fa-twitter me-2"></i
            >Twitter</a>
          </div>
          <!-- Google -->
          <div class="social-widget col-xs-12 col-md-6">
            <a class="btn btn-primary w-100" style="background-color: #dd4b39;" href="#!" role="button"
            ><i class="fab fa-google me-2"></i
            >Google</a>
          </div>
          <!-- Instagram -->
          <div class="social-widget col-xs-12 col-md-6">
            <a class="btn btn-primary w-100" style="background-color: #ac2bac;" href="#!" role="button"
            ><i class="fab fa-instagram me-2"></i
            >Instagram</a>
          </div>
          <!-- Linkedin -->
          <div class="social-widget col-xs-12 col-md-6">
            <a class="btn btn-primary w-100" style="background-color: #0082ca;" href="#!" role="button"
            ><i class="fab fa-linkedin-in me-2"></i
            >Linkedin</a>
          </div>
          <!-- Pinterest -->
          <div class="social-widget col-xs-12 col-md-6">
            <a class="btn btn-primary w-100" style="background-color: #c61118;" href="#!" role="button"
            ><i class="fab fa-pinterest me-2"></i
            >Pinterest</a>
          </div>
          <!-- Youtube -->
          <div class="social-widget col-xs-12 col-md-6">
            <a class="btn btn-primary w-100" style="background-color: #ed302f;" href="#!" role="button"
            ><i class="fab fa-youtube me-2"></i
            >Youtube</a>
          </div>
        </div>
      </div>
      <div class="py-3">
        <mdb-tabs [justified]="true">
          <mdb-tab title="Recent">
            <div class="box-container">
              <ul class="">
                <li class="post-item py-2">
                  <div class="d-flex">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item py-2">
                  <div class="d-flex">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item py-2">
                  <div class="d-flex">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item py-2">
                  <div class="d-flex">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item py-2">
                  <div class="d-flex">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </mdb-tab>
          <mdb-tab title="Popular">
            <div class="box-container">
              <ul class="">
                <li class="post-item py-2">
                  <div class="d-flex">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item py-2">
                  <div class="d-flex">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </mdb-tab>
          <mdb-tab title="Comments">Comments</mdb-tab>
        </mdb-tabs>
      </div>
      <div class="d-flex flex-column align-items-center py-3">
        <i class="fas fa-envelope fa-3x mb-4 text-muted"></i>
        <h4 class="fa-sm">With Product You Purchase</h4>
        <hr class="w-25">
        <h3 class="text-center">Subscribe to our mailing list to get the new updates!</h3>
        <p class="fa-sm py-4">Lorem ipsum dolor sit amet, consectetur.</p>
        <div class="d-flex align-items-center input-group mb-3 border py-1 w-100">
          <i class="fas fa-envelope px-2 text-muted"></i>
          <input type="text" class="border-0 text-center text-muted flex-grow-1" style="outline: none" aria-label="Example text with button addon"
                 aria-describedby="button-addon1" placeholder="Enter your Email address" />
        </div>
        <div class="d-grid gap-2 w-100">
          <button class="btn btn-primary" type="button">Subcribe</button>
        </div>
      </div>
      <div class="py-3">
        <div class="widget-title">
          Thể loại
        </div>
        <ul class="">
          <li class="d-flex justify-content-between py-1 align-items-center" style="font-size: 13px">
            <div class="">
              <i class="fas fa-angle-right me-1"></i>
              <a href="" class="text-reset">Xã hội</a>
            </div>
            <span class="badge bg-primary">35</span>
          </li>
          <li class="d-flex justify-content-between py-1 align-items-center" style="font-size: 13px">
            <div class="">
              <i class="fas fa-angle-right me-1"></i>
              <a href="" class=" text-reset">Kinh tế</a>
            </div>
            <span class="badge bg-primary">3</span>
          </li>
          <li class="d-flex justify-content-between py-1 align-items-center" style="font-size: 13px">
            <div class="">
              <i class="fas fa-angle-right me-1"></i>
              <a href="" class="text-reset">Địa ốc</a>
            </div>
            <span class="badge bg-primary">35</span>
          </li>
          <li class="d-flex justify-content-between py-1 align-items-center" style="font-size: 13px">
            <div class="">
              <i class="fas fa-angle-right me-1"></i>
              <a href="" class="text-reset">Sức khỏe</a>
            </div>
            <span class="badge bg-primary">7</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
