<section class="carousel-area container" id="carousel">
  <mdb-carousel [controls]="true" [indicators]="true" >
    <mdb-carousel-item class="carousel-item">
      <img
        src="https://photo-cms-tpo.zadn.vn/700x420/Uploaded/2022/yrfjpyszlyr/2022_08_12/tp-mua-4-166.jpg"
        class="d-block w-100"
        alt="..."
      />
      <span class="post-cat-wrap">
        <a class="post-cat" href="#">Xã hội</a>
      </span>
      <a href="#!">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.2);"></div>
      </a>
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-date">
          <i class="fab fa-hotjar"></i>
          <span>25/12/2022</span>
        </div>
        <h2 class="carousel-title"> Sổ hộ khẩu nào sẽ bị công an thu hồi? </h2>
        <div class="carousel-desc small">TPO - Không phải tất cả các hộ khẩu của người dân TPHCM khi tham gia giao dịch đều bị công an thu hồi. Việc thu hồi chỉ được thực hiện với sổ hộ khẩu có thông tin thay đổi.</div>
      </div>

    </mdb-carousel-item>
    <mdb-carousel-item class="carousel-item">
      <img
        src="https://photo-cms-tpo.zadn.vn/700x420/Uploaded/2022/yrfjpyszlyr/2022_08_12/tp-mua-4-166.jpg"
        class="d-block w-100"
        alt="..."
      />
      <a href="#!">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.2);"></div>
      </a>
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-date">
          <i class="fab fa-hotjar"></i>
          <span>25/12/2022</span>
        </div>
        <h2 class="carousel-title"> Sổ hộ khẩu nào sẽ bị công an thu hồi? </h2>
        <div class="carousel-desc small">TPO - Không phải tất cả các hộ khẩu của người dân TPHCM khi tham gia giao dịch đều bị công an thu hồi. Việc thu hồi chỉ được thực hiện với sổ hộ khẩu có thông tin thay đổi.</div>
      </div>

    </mdb-carousel-item>

  </mdb-carousel>
</section>
<section class="main container">
  <div class="wrapper row" >
    <div class="col-xs-12 col-md-8">
      <mdb-tabs>
        <mdb-tab>
          <ng-template mdbTabTitle>
            <span><i class="fab fa-lg fa-mdb me-2"></i> Tab 1</span>
          </ng-template>
          <ng-template mdbTabContent>
            <div class="box-container">
              <ul class="post-items ">
                <li class="post-item"  >

                  <div class="bg-image position-relative"
                       style="
                        background-image: url('https://photo-cms-tpo.zadn.vn/700x420/Uploaded/2022/yrfjpyszlyr/2022_08_12/tp-mua-4-166.jpg');
                        height: 100%;
                      "
                  >
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </ng-template>
        </mdb-tab>
        <mdb-tab title="Kinh tế">
          <ng-template mdbTabContent>
            <div class="box-container">
              <ul class="post-items ">
                <li class="post-item"  >

                  <div class="bg-image position-relative"
                       style="
                        background-image: url('https://photo-cms-tpo.zadn.vn/700x420/Uploaded/2022/yrfjpyszlyr/2022_08_12/tp-mua-4-166.jpg');
                        height: 100%;
                      "
                  >
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
                <li class="post-item">
                  <div class="d-flex position-relative">
                    <img
                      src="https://mdbootstrap.com/img/new/standard/city/041.webp"
                      class="flex-shrink-0 me-3"
                      style="max-width: 6.875rem"
                      alt="..."
                    />
                    <div>
                      <span class="post-date">2022-08-14 16:05:47</span>
                      <h5 class="mt-0 small"> Ai chi trả cho những bữa tiệc của CLB Giám đốc CDC miền Bắc? </h5>
                      <a href="#" class="stretched-link"></a>
                    </div>
                  </div>
                </li>
               
              </ul>
            </div>
          </ng-template>

        </mdb-tab>
        <mdb-tab title="Tab 3">
          <ng-template mdbTabContent> Tab content 1 </ng-template>
        </mdb-tab>
      </mdb-tabs>
    </div>
    <div class="col-xs-12 col-md-4">
nho
    </div>
  </div>
</section>
